.overflowed {
    max-height: 200px;
    overflow: auto;
}

.ui.blue.segment {
     width: 500px;
     height: 300px;
}
.ui.green.segment {
     width: 500px;
     height: 50px;
     right: 7%;
}
.chat.list.overflowed.pauseplay {
     width: 500px;
     height: 50px;

}
.chat.list.overflowed.log {
     width: 500px;
     height: 200px;
     overflow: auto;
}

.ui.action.input {
     top: -2%;
     right: 3%;
     width: 500px;
     height: 45px;
}

.ui.users.input {
    top: -100px;
    right: -438px;
    position: relative;
}

.ui.purple.segment {
    width: 150px;
    height: 300px;
    bottom: 332px;
    right: -43%;

}

.ui.users.close{
    top: 1%;
    position: relative;
    right: -75%;

}
