.ui.button.attached.add {
    position: fixed;
    top: 40%;
    right: -30px;
    z-index: 500;
    width: 120px;
    padding: 0.8em .4em;
    background-color: rgba(102, 102, 102, 0.36);
}

.ui.button.attached.invite {
    position: fixed;
    top: 40%;
    left: -30px;
    z-index: 500;
    width: 120px;
    background-color: rgba(102, 102, 102, 0.36);
}

.ui.button.attached i {
    font-size: 2em;
}

.friends.sidebar .icon.close,
.video-search.sidebar .icon.close
{
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: .5em;
    opacity: .7;
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear;
}

.overflowed {
    height: 200px;
    overflow: auto;
}

.overflowed.tall {
    height: 500px;
}

#video {
    width: 100%;
}

.results .item {
    cursor: pointer;
}

.results .item .img {
    position: relative;
    display: block;
    float: left;
    margin-right: 1em;
    vertical-align: middle;
}

.results .item .overlay {
    display: none;
}

.results .item:hover .overlay {
    content: "";
    text-align: center;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    color: #fafafa;
    border-radius: 0.33em;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.4);
}

.results .item:hover .icon {
    padding-top: 35px;
}
