<div id="js-create-room-button" class="ui secondary button">
    Create Room
</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Create Room
    </div>
    <div class="content">
        <form id="room-form" method="POST" action="/rooms">
            <div class="ui form">
                <div class="field">
                    <label>Name your Room</label>
                    <input id="name" name="name" type="text" placeholder="Name">
                </div>
                <h3>Friends</h3>
                <div class="field">
                    <div class="ui icon input">
                        <input id="search" type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="ui selection list friends"></div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui button">Cancel</div>
        <input type="submit" class="ui positive button" form="room-form" value="Go!">
    </div>
</div>


{% block templates %}
    {% include 'jsplates/friends_list.html' %}
{% endblock %}
