<div id="js-create-room-button" class="ui secondary button">
    Create Room
</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Create Room
    </div>
    <div class="content">
        <form id="room-form" method="POST" action="/rooms">
            <div class="ui form">
                <div class="field">
                    <input id="name" name="name" type="text" placeholder="Name">
                </div>
            </div>
            <h3>Friends</h3>
            <div class="ui selection list friends"></div>
        </form>
    </div>
    <div class="actions">
        <div class="ui button">Cancel</div>
        <input type="submit" class="ui positive button" form="room-form" value="Go!">
    </div>
</div>


{% block templates %}
    {% include 'jsplates/friends_list.html' %}
{% endblock %}
