<nav class="ui transparent inverted main menu">
    <div class="container">
        <a href="/" class="header left floated item">Snickerdoodle</h3>

        <a href="/watch" class="active item"><i class="play icon"></i> Watch</a>
        <a href="/trending" class="item"><i class="video icon"></i> Trending</a>
        {% if not user %}
        <a class="right floated text item status" href="{{ login_url }}">
            <i class="facebook blue icon"></i> Sign In
        </a>
        {% else %}
        <a class="right floated text item status" href="/logout" id="getusername">
            <img class="ui avatar image tiny profile" src="https://graph.facebook.com/{{ user.username }}/picture?type=square">
            {{ user.first_name }} {{ user.last_name }}
        </a>
        {% endif %}
    </div>
</nav>
