<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/base.css" />
    {% block css %}{% endblock %}
</head>
<body class="">
    {% include '_navbar.html'  %}

    {% block left_sidebar %} {% endblock %}
    {% block right_sidebar %} {% endblock %}

    {% block preamble %} {% endblock %}

    <div class="main container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="ui blue message">
                    <i class="close icon"></i>
                    <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <!-- 3rd Party Libraries -->
    <script src="//code.jquery.com/jquery-2.1.0.js"></script>
    <script src="/static/lib/semantic/javascript/semantic.js"></script>
    <script src="/static/lib/socket.io/socket.io.js"></script>
    <script src="/static/lib/Froogaloop/froogaloop.js"></script>
    <script src="/static/lib/handlebars/handlebars-v1.3.0.js"></script>

    <!-- Snickerdoodle Libraries -->
    <script src="/static/js/friends.js"></script>
    <script src="/static/js/videos.js"></script>
    <script src="/static/js/chat.js"></script>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/providers/base.js"></script>
    <script src="/static/js/providers/youtube.js"></script>
    <script src="/static/js/providers/vimeo.js"></script>
    {% block js %}{% endblock %}

    {% block templates %}{% endblock %}

    {% raw %}
    <script id="signin-template" type="text/x-handlebars-template">
        <a class="right floated item status">
            <img class="circular ui image mini left floated" src="{{ picture }}">
            {{ name }}
            <i class="square sign out icon"></i>
        </a>
    </script>
    {% endraw %}
</body>
</html>
