<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/base.css" />
    {% block css %}{% endblock %}
</head>
<body>
    {% include '_navbar.html'  %}

    {% block preamble %}
    <div id="fb-root"></div>
    <script>
        (function(d){
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));
    </script>
    {% endblock %}

    <div class="main container">
        {% block content %}{% endblock %}
    </div>

    <!-- 3rd Party Libraries -->
    <script src="//code.jquery.com/jquery-2.1.0.js"></script>
    <script src="/static/lib/socket.io/socket.io.js"></script>
    <script src="/static/lib/Froogaloop/froogaloop.js"></script>

    <!-- Snickerdoodle Libraries -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/snickerdoodle.js"></script>
    <script src="/static/js/providers/base.js"></script>
    <script src="/static/js/providers/youtube.js"></script>
    <script src="/static/js/providers/vimeo.js"></script>
    <script src="/static/js/providers/dailyMotion.js"></script>
    {% block js %}{% endblock %}

    {% block templates %}{% endblock %}

    {% raw %}
    <script id="signin-template" type="text/x-handlebars-template">
        <a class="right floated item status">
            <img class="circular ui image mini left floated" src="{{ picture }}">
            {{ name }}
            <i class="square sign out icon"></i>
        </a>
    </script>
    {% endraw %}
</body>
</html>
