{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/lib/semantic/css/semantic.css" />
    <link rel="stylesheet" href="/static/css/chat.css" />
{% endblock %}

{% block js %}
    <script src="/static/js/chat.js"></script>
{% endblock %}

{% block content %}

<div class="ui grid list">
    <div class="ten wide column">
        <div class="ui piled blue segment item">
            <div class="list">
                <div class="item">
                    <h5 class="ui header">
                        <i class="icon inverted circular blue comment"></i> Chat
                    </h5>
                </div>
                <div class="item">
                   <div id="log2">
                   </div>
                </div>
            </div>
            <div class="item">
                <div class="ui basic segment">
                    <form id="reply2" action="#">
                        <div class="fluid">
                            <input type="text" name="reply_msg" id="reply_msg" placeholder="Enter Message Here">
                            <input type="submit" class="ui blue button" form="reply2" value="Reply">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div> </div>

<div class="ui horizontal icon divider">
    <img class="ui avatar image" src="/static/img/doge.jpeg">
</div>


<h2> Send: </h2>
<form id="reply" method="post" action="#">
    <input type="text" name="reply_data" id="reply_data" placeholder="Message Here">
    <input type="submit" value="Send"></div>
</form>

<h2> Chat Log:</h2>
<div id="log"></div>



{% endblock %}
