{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/lib/semantic/css/semantic.css" />
    <link rel="stylesheet" href="/static/css/chat.css" />
{% endblock %}

{% block js %}
    <script src="/static/js/chat.js"></script>
{% endblock %}



{% block content %}

<div class="ui grid list">
    <div class="ten wide column">
        <div class="ui blue segment">
           <div class="ui tiny list">
               <div class="item">
                  <h5 class="ui header">
                     <i class="icon inverted circular blue comment"></i> Chat
                  </h5>
               </div>
               <div class="item">
                  <div class="chat list overflowed log">
                         {% if not user %}
                         Please Sign In! <img class="ui avatar image" src="/static/img/doge.jpeg">
                         {% else %}
                         Welcome to chat, {{user.first_name}} {{user.last_name}}!
                         {% endif %}
                  </div>
               </div>
               <div class="ui green segment">
                  <div class="chat list overflowed pauseplay"> 
                  </div>
               </div>
           </div>
             <div class="ui action input">
                 <input type="text" name="reply-msg" id="reply-msg" placeholder="Enter Message Here">
                 <div class="ui blue button reply" id="reply-button">Reply</div>
             </div>
        </div>
    </div>
</div>




{% endblock %}
