{% extends "base.html" %}

{% block title %} Home - Snickerdoodle{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/lib/semantic/css/semantic.css" />
{% endblock %}

{% block js %}
    <script src="/static/lib/semantic/javascript/semantic.js"></script>
    <script src="/static/lib/handlebars/handlebars-v1.3.0.js"></script>
{% endblock %}


{% block content %}
<div class="content">
    <h1>Connect!</h1>

    <div class="ui facebook button">
        <i class="facebook icon"></i>
        Facebook
    </div>

</div>
{% endblock %}

{% block templates %}
    {% raw %}
    <script id="search-template" type="text/x-handlebars-template">
        <h3>{{name}}</h3>

        <div class="ui small images">
            <img class="rounded ui image" src="{{picture}}">
        </div>

        <div class="ui tertiary form segment">
            <div class="field">
                <label>Add Friends</label>
                <div class="ui left labeled icon input">
                    <i class="search icon"></i>
                    <input type="text" placeholder="Friend...">
                </div>
            </div>
            <div class="ui blue submit button">Search</div>
        </div>
    </script>

    <script id="info-template" type="text/x-handlebars-template">
    </script>

    <script id="label-template" type="text/x-handlebars-template">
        <a class="ui image label">
            <img src="{{ picture }}">
            {{ name }}
            <i class="delete icon"></i>
        </a>
    </script>
    {% endraw %}
{% endblock %}
