<html>
 <head>

	<meta charset="utf-8" />
	<title>SnickerDoodle SignUp </title>
  
  <!---------------------------------------------------------------------------------------------------------------------------------->
  
  <link href="css/semantic.css" rel="stylesheet" type="text/css" />
 
  <style type="text/css">

	
	
	
	
	.ui.green.segment {
		background-color: #F0F0F0 ;
		top: 2px;
		position: aligned; 
	
	}	
	
	
	.text {
		display: inline;
	}
	
	a{
		text-decoration: none;
		color: #1E90FF;
	}
	
	</style>
	
</head>
<body>

<!----------------------Type One ------------------------------>

 

<!-----------------Forgot Pass Button ------------------------------->
<div class="ui green segment FBHeader">
   
 
   
    <h3 class="ui right floated header">
	Sign In With : 
   <div class="ui facebook button">
        <i class="facebook icon"></i>
        Facebook
     </div>
  </h3>
  
  
   
    
</div>	



	
	
	
  
 <!-------------------Sign Up Portion-------------------------->



<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="javascript/semantic.js" type="text/javascript"></script>

<script type="text/javascript">

$( document ).ready(function() {
 
 
  });

</script>

</body>  
  
  
  
  
 </html> 
