{% extends "base.html" %}

{% block title %} Home - Snickerdoodle {% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/lib/semantic/css/semantic.css" />
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block js %}
<script src="/static/lib/semantic/javascript/semantic.js"></script>
<script src="/static/js/home.js"></script>
{% endblock %}

{% block content %}
<div class="ui grid">
    <div class="column">
        <div class="ui center aligned teal segment">
            <h1>Watch Videos with Your Friends</h1>
            <p class="lead">Youtube, Vimeo, DailyMotion, and more. All in one playlist.</p>

            {% include '_create_room.html' %}
        </div>
    </div>
</div>

<div class="ui horizontal icon divider">
    <img class="ui avatar image" src="/static/img/doge.jpeg">
</div>

<div class="row marketing"></div>
<div class="ui ribbon black label">
    <p class="lead">&copy; Snickerdoodle 2014</p>
</div>
{% endblock %}
