{% extends "base.html" %}
{% block title %}Video - Snickerdoodle{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/watch.css" />
    <link rel="stylesheet" href="/static/lib/semantic/css/semantic.css" />
{% endblock %}

{% block content %}

<h4 class="ui center aligned inverted green block header">
  Snickerdoodle - Watch Videos with Your Friends!
</h4>

<div class="">

    <div class="ui fluid action input">
        <input type="text" placeholder="Video Address">
        <div class="ui red button next">Add Video</div>
    </div>

    <div class="ui grid">
        <div class="player sixteen wide column">
            <img class="ui huge" src="/static/img/video.jpg">
        </div>
    </div>

    <div class="ui grid list">
        <div class="ten wide column">
            <div class="ui piled blue segment item">
                <div class="list">
                    <div class="item">
                        <h5 class="ui header">
                            <i class="icon inverted circular blue comment"></i> Chat
                        </h5>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="description">
                                <span>Zach</span>:
                                Hello there!
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="description">
                                <span>Will</span>:
                                Hello there!
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="description">
                                <span>You</span>:
                                Hello there!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ui basic segment">
                        <form class="">
                            <div class="ui action fluid input">
                                <input type="text" placeholder="Reply">
                                <div class="ui button">Reply</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat six wide column">
            <div class="ui piled blue segment">
                <h5 class="ui">
                    <i class="icon inverted circular blue list"></i> Playlist
                    <div class="ui icon buttons">
                        <div class="ui button"><i class="step backward icon"></i></div>
                        <div class="ui button"><i class="step forward icon"></i></div>
                    </div>
                </h5>
                <div class="ui comments">
                    <div class="comment">
                        <a class="avatar">
                            <img src="/static/img/cat.jpg">
                        </a>
                        <div class="content">
                            <a class="author">Cute Kittens</a>
                            <div class="text">
                                A video of some cute kittens.
                                Added by <strong>Josh</strong>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{%block js %}
    <script src="/static/js/video.js"></script>
    <script src="/static/lib/handlebars/handlebars-v1.3.0.js"></script>
{% endblock %}

{% block templates %}
    {% raw %}
    <script id="message-template" type="text/x-handlebars-template">
        <div class="event">
            <div class="content">
                <div class="summary">
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    </script>

    <script id="vimeo-template" type ="text/x-handlebars-template">
        <div class="player">
            <iframe id="vimeoPlayer" src="http://player.vimeo.com/video/{{video}}?api=1&player_id=vimeoPlayer" type="text/html" width="540" height="304" ></iframe>
        </div>
    </script>

    <script id="player-template" type="text/x-handlebars-template">
      <div class="player">
          <div id="player"></div>
      </div>
    </script>
    {% endraw %}
{% endblock %}
