{% extends "base.html" %}
{% block title %}Video - Snickerdoodle{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/watch.css" />
    <link rel="stylesheet" href="/static/lib/semantic/css/semantic.css" />
{% endblock %}

{% block right_sidebar %}
<!--
<div class="video ui red vertical right sidebar menu">
    <a class="item">
        <i class="home icon"></i>
        Home
    </a>
    <a class="active item">
        <i class="heart icon"></i>
        Current Section
    </a>
    <a class="item">
        <i class="facebook icon"></i>
        Like us on Facebook
    </a>
    <div class="item">
        <b>More</b>
        <div class="menu">
            <a class="item">About</a>
            <a class="item">Contact Us</a>
        </div>
    </div>
</div>
-->
{% endblock %}

{% block content %}

<!--
<div class="ui black huge launch right attached button menu" style="width: 70px;">
    <i class="icon list layout"></i>
    <span class="text" style="display: none;">Menu</span>
</div>
-->

<div class="ui black massive launch attached button circular add" style="">
    <i class="icon add"></i>
</div>

<div class="ui black massive launch attached button circular add" style="">
    <i class="icon add"></i>
</div>

<h4 class="ui center aligned inverted green block header">
  Snickerdoodle - Watch Videos with Your Friends!
</h4>

<div class="">
    <div class="player">
        <div class="video ui top attached segment">
            <img class="ui huge" src="/static/img/video.jpg">
        </div>

        <div class="controls ui bottom attached segment">
            <div class="left">
                <h3>Carly Rae Jepsen - Call Me Maybe</h3>
            </div>

            <div class="right">
                <div class="ui icon buttons">
                    <div class="ui black button"><i class="add icon"></i></div>
                    <div class="ui black button"><i class="step backward icon"></i></div>
                    <div class="ui black button"><i class="step forward icon"></i></div>
                    <div class="ui black button"><i class="list icon"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid list">
        <div class="ten wide column">
            <div class="ui piled blue segment item">
                <div class="list">
                    <div class="item">
                        <h5 class="ui header">
                            <i class="icon inverted circular blue comment"></i> Chat
                        </h5>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="description">
                                <span>Zach</span>:
                                Hello there!
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="description">
                                <span>Will</span>:
                                Hello there!
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="description">
                                <span>You</span>:
                                Hello there!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="ui basic segment">
                        <form class="">
                            <div class="ui action fluid input">
                                <input type="text" placeholder="Reply">
                                <div class="ui button">Reply</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat six wide column">
            <div class="ui inverted segment">
                <h4 class="ui header">
                    Playlist
                </h4>
            </div>
            <div class="ui segment">
                <div class="ui animated list">
                    <div class="item">
                        <img class="ui avatar image" src="/static/img/cat.jpg">
                        <div class="content">
                            <div class="header">Snickerdoodle</div>
                            An excellent companion
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="/static/img/cat.jpg">
                        <div class="content">
                            <div class="header">Poodle</div>
                            A poodle, its pretty basic
                        </div>
                    </div>
                    <div class="item">
                        <img class="ui avatar image" src="/static/img/cat.jpg">
                        <div class="content">
                            <div class="header">Paulo</div>
                            He's also a dog
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{%block js %}
    <script src="/static/js/video.js"></script>
    <script src="/static/lib/handlebars/handlebars-v1.3.0.js"></script>
{% endblock %}

{% block templates %}
    {% raw %}
    <script id="message-template" type="text/x-handlebars-template">
        <div class="event">
            <div class="content">
                <div class="summary">
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    </script>

    <script id="vimeo-template" type ="text/x-handlebars-template">
        <div class="player">
            <iframe id="vimeoPlayer" src="http://player.vimeo.com/video/{{video}}?api=1&player_id=vimeoPlayer" type="text/html" width="540" height="304" ></iframe>
        </div>
    </script>

    <script id="player-template" type="text/x-handlebars-template">
      <div class="player">
          <div id="player"></div>
      </div>
    </script>
    {% endraw %}
{% endblock %}
