<!DOCTYPE html>
<html>
  <body>
    <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>
      $(document).ready( function(){
	var done = false;
	var videoURL
        var videoSite;
        var videoID;
	var areYouDone;
	var i = 0;
	while(!done){
        videoURL = prompt("What is the video URL");
        videoSite = videoURL.split(".",2)[1];
        videoID = videoURL.split("=",2)[1];
	areYouDone = prompt("Are you done adding videos? y/n");
	if (areYouDone == "y") {
	//  done = true;
	//}else if(areYouDone == "n"){
	//  done = false;
	//}else{
	 // done = true;
	//}
	//}
	//for(i < videoSite.length(); i++;){
	  //document.write('<p> <strong>' + videoSite.shift() + videoID.shift() + '</strong></p>');
	}
      }
      );
	
    </script>
  </body>
</html>