{% raw %}
<script id="friends-list-friend-template" type="text/x-handlebars-template">
    {{#each friends}}
        <div class="friend item">
            <i class="green circle blank icon"></i>
            <div class="content">
                    <div class="header">{{ name }}</div>
            </div>
        </div>
    {{/each}}
</script>

<script id="no-friends-label" type="text/x-handlebars-template">
    <a class="ui label">
      No one
    </a>
</script>

<script id="friends-label" type="text/x-handlebars-template">
    <a class="ui label">
        {{ name }}
        <i class="delete icon"></i>
    </a>
</script>
{% endraw %}
